// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  background-color: rgb(243, 241, 241);
  color: #616060;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
}
